<section layout="column" flex  layout-align="center center" class="login-form height-100">

	<form name="loginForm" class="md-whiteframe-z2" ng-submit="register(user)">
		<div layout="row" class="icon" layout-align="center center" layout-padding>
			<md-icon md-svg-icon="social:person-add"></md-icon>
		</div>
		<br>
		<md-input-container>
			<label>Email2</label>
			<input name="email" type="email" ng-model="user.email">
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input type="password" ng-min="6" ng-model="user.password">
		</md-input-container>
		<!-- <section class="well">
			reCaptcha placeholder
		</section>
 -->
		<br>
		<footer layout="row" layout-sm="column" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="loginAsGuest()">
				Create user
			</md-button>
		</footer>
	</form>
	<div class="text-muted">
		<a href="#">Already have an account</a>
	</div>
</section>
