

//
// Forms
// -----------------------------------------------------------------------------

label
	font-weight: normal

.meta-right
	padding-right: 3em

	.meta
		position: absolute
		right: 0
		top: 2em

.contact-form
	.avatar
		width: 50%
		margin: 0 auto

