

//
// Layout
// -----------------------------------------------------------------------------

body
  padding: 0

img
  max-width: 100%

md-sidenav.sidebar-left
  width: 150px
  max-width: 150px
  min-width: 150px
  z-index: $index-sidebar-left

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active
  min-width: 0px !important
  width: auto !important
  max-width: none !important

.navigation-menu
  padding: 0 6px
  width: 180px

  li
    border-radius: 4px
  a
    text-align: left
    display: block
    margin: 3px 0
    padding: 2px 8px

  .active
    background-color: whitesmoke

.layout-content
  max-width: 864px
  padding: 16px

.side-panel, .md-sidenav-backdrop
  position: fixed !important

.side-panel
  top: 64px
  left: auto

md-backdrop ~ md-content
  position: fixed
  overflow: hidden

.height-100
  height: 100%

.width-100
  width: 100%

.section-container
  margin-top: 20px
  margin-left: 25px
