<!doctype html>
<html class="no-js" ng-app="contactsClient">
	<head>
		<meta charset="utf-8">
		<title ng-bind="pageTitle"></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
	</head>
	<body layout="row" ng-controller="RootCtrl">
		<!--[if lt IE 9]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<section ng-if="!isLogged" flex class="height-100">
			<login-form></login-form>
		</section>




		<md-sidenav
		ng-if="isLogged && pageLoaded"
		md-is-locked-open="$mdMedia('gt-sm')"
		md-component-id="navigation-menu"
		class="sidebar-left md-whiteframe-z2">

			<md-toolbar layout="row">
				<h1 class="md-toolbar-tools" layout-align-gt="center">
					<a ui-sref="contacts" title="home page">
						<span class="glyphicon glyphicon-tower"></span>
					</a>
				</h1>
			</md-toolbar>

			<md-content role="navigation" class="md-default-theme">




				<ul class="navigation-menu">
					<li>
						<md-button title="calendar subpage"><span class="glyphicon glyphicon-calendar"></span> Calendar</md-button>
					</li>
					<li ui-sref-active="active">
						 <md-button ui-sref="contacts" title="contacts subpage"><md-icon md-svg-icon="social:people"></md-icon> Contacts</md-button>
					</li>
					<li ui-sref-active="active">
						<md-button ui-sref="settings"  title="settings subpage"><span class="glyphicon glyphicon-wrench"></span> Settings</md-button>
					</li>
					<li ui-sref-active="active">
						<md-button ui-sref="todo"  title="settings subpage"><span class="glyphicon glyphicon-list"></span> ToDo</md-button>
					</li>
				</ul>

			</md-content>

		</md-sidenav>




		<div ng-if="isLogged && pageLoaded" layout="column" role="main" flex>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button hide-gt-sm ng-click="openNavigation()" class="md-icon-button" aria-label="Show navigation menu">
						<md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
					</md-button>
					<div flex layout="row" class="fill-height">
						<h2 class="md-toolbar-tools" ng-bind="pageTitle"></h2>
					</div>
				</div>
			</md-toolbar>


			<md-content ui-view md-scroll-y class="md-default-theme">
			</md-content>

		</div>




		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/momentjs/moment.js"></script>
		<script src="bower_components/lodash/lodash.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<script src="modules/app.js"></script>
		<script src="modules/global-config.js"></script>

		<!-- Module: General -->
		<script src="modules/general/general-module.js"></script>
		<script src="modules/general/controllers/root-ctrl.js"></script>
		<script src="modules/general/controllers/settings-ctrl.js"></script>
		<script src="modules/general/directives/login-form/login-form.js"></script>

		<!-- Module: Contacts -->
		<script src="modules/contacts/contacts-module.js"></script>
		<script src="modules/contacts/controllers/contacts-list-ctrl.js"></script>
		<script src="modules/contacts/controllers/single-contact-ctrl.js"></script>
		<script src="modules/contacts/directives/get-date-directive.js"></script>
		<script src="modules/contacts/services/contacts-service.js"></script>
		<script src="modules/contacts/services/contacts-resource.js"></script>

</body>
</html>
