<md-sidenav
ng-if="session.isLogged && appReady"
md-is-locked-open="$mdMedia('gt-sm')"
md-component-id="navigation-menu"
class="sidebar-left md-whiteframe-z2">

	<md-toolbar layout="row">
		<div class="md-toolbar-tools logotype">
			<md-icon md-svg-icon="social:cake"></md-icon>
			<h3>Reminder App</h3>
		</div>
	</md-toolbar>



	<ul class="navigation-menu" role="navigation">
		<li ui-sref-active="active">
			<md-button ui-sref="calendar" title="calendar subpage">Calendar</md-button>
		</li>
		<li ui-sref-active="active">
			<md-button ui-sref="contacts" title="contacts subpage">Contacts</md-button>
		</li>
		<li ui-sref-active="active">
			<md-button ui-sref="settings" title="settings subpage">Settings</md-button>
		</li>
		<li ui-sref-active="active">
			<md-button ui-sref="todo" title="settings subpage">ToDo</md-button>
		</li>
	</ul>



</md-sidenav>




<div layout="column" role="main" flex>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button hide-gt-sm ng-click="openNavigation()" class="md-icon-button" aria-label="Show navigation menu">
				<md-icon md-svg-icon="images/icons/ic_menu_24px.svg"></md-icon>
			</md-button>
			<div flex layout="row" class="fill-height">
				<h2 class="md-toolbar-tools" ng-bind="pageTitle"></h2>
				<span flex></span>

				<div ng-controller="AuthCtrl">
					<md-button
						type="button"
						class="launch"
						ng-click="logout()"
						>
							Logout
						</md-button>
				</div>
			</div>
		</div>
	</md-toolbar>


	<md-content ui-view md-scroll-y class="md-default-theme"></md-content>

</div>
