<div class="section-container">
	<h2>TODO list</h2>
	<ul>
		<li>Module Contacts: contacts List filter</li>
		<li>Module Contacts: contacts List pagination (load more)</li>
		<li>Module Calendar: add calendar like github activity (eg. cal-heatmap)</li>
		<li>Module General: Guest login</li>
		<li>NodeJS: Send notification to many</li>
		<li>NodeJS: Export/import</li>
		<li>NodeJS: Weekly notification (email)</li>
		<li>NodeJS: Daily notification (SMS)</li>
		<li>update README.md</li>
		<li>Module Contacts: multi remove</li>
		<li>Register with new reCaptcha</li>
		<li>Register user with current "Demo" data</li>
		<li>NodeJS: error for duplicated email (code: 11000)</li>
		<li>Module Users: edit details</li>
		<li>Module Users: remove account</li>


		<hr>
		<li style="text-decoration: line-through">NodeJS: Authorization</li>
		<li style="text-decoration: line-through">Module General: Login panel</li>
		<li style="text-decoration: line-through">Module General: settings page (phone nr, emails)</li>
		<li style="text-decoration: line-through">Module Contacts: contacts List sort by upcomming dates</li>
		<li style="text-decoration: line-through">Module Contacts: contacts List search</li>
		<li style="text-decoration: line-through">Module Contacts: Tight panel with contact template</li>
		<li style="text-decoration: line-through">Module Contacts: replace smart table with list + sticet header</li>
		<li style="text-decoration: line-through">Module Contacts: Update contact</li>
		<li style="text-decoration: line-through">Module Contacts: Remove with delay (revert)</li>
		<li style="text-decoration: line-through">Module General: main navigation mobile toggle </li>
	</ul>
</div>
