<!-- <md-icon md-svg-icon="./assets/svg/avatar-1.svg" class="avatar"></md-icon> -->

<section layout-padding>
	<h2>@TODO:</h2>
	<ul>
		<li>Module Contacts: contacts List filter</li>
		<li>Module Contacts: contacts List sort by upcomming dates</li>
		<li>Module Contacts: contacts List search</li>
		<li>Module Contacts: contacts List pagination (load more)</li>
		<li>Module Calendar: add calendar like github activity (eg. cal-heatmap)</li>
		<li>Module Main: settings page (phone nr, emails)</li>
		<li>Module Main: Login panel</li>
		<li>Module Main: Guest login</li>
		<li>NodeJS: Authorization</li>
		<li>NodeJS: Send notification to many</li>
		<li>NodeJS: Export/import</li>
		<li>NodeJS: Weekly notification (email)</li>
		<li>NodeJS: Daily notification (SMS)</li>
		<li>update README.md</li>
		<li>Module Contacts: multi remove</li>
		<hr>
		<li style="text-decoration: line-through">Module Contacts: Tight panel with contact template</li>
		<li style="text-decoration: line-through">Module Contacts: replace smart table with list + sticet header</li>
		<li style="text-decoration: line-through">Module Contacts: Update contact</li>
		<li style="text-decoration: line-through">Module Contacts: Remove with delay (revert)</li>
		<li style="text-decoration: line-through">Module Main: main navigation mobile toggle </li>
	</ul>
</section>
