


<div ng-controller="ContactsListCtrl" ng-init="init()">




	<div layout="column" class="layout-content">



		<div flex layout="column">
			<section class="section-wrapper md-whiteframe-z1">

				<md-toolbar class="section-toolbar md-default-theme">
					<div class="md-toolbar-tools">
					  <h3 class="ng-binding">Contacts List</h3>
						<span flex></span>



						<md-button
						type="button"
						class="md-icon-button launch"
						ng-click="openPanel()"
						>
							<md-tooltip>
								Add new contact
							</md-tooltip>
							<md-icon md-svg-icon="social:person-add"></md-icon>
						</md-button>

<!-- 						<md-button
						type="button"
						class="md-icon-button launch"
						ng-click="sortByType()"
						>
							<md-tooltip>Sort by</md-tooltip>
							<md-icon md-svg-icon="images/icons/sort-by.svg"></md-icon>
						</md-button> -->

						<md-button
						type="button"
						class="md-icon-button launch"
						ng-click="filters.show = !filters.show"
						>
							<md-tooltip>Show filters</md-tooltip>
							<md-icon md-svg-icon="images/icons/more_vert.svg"></md-icon>

						</md-button>

					</div>
				</md-toolbar>

				<div ng-if="filters.show" class="slide-in fade" layout-padding layout="column">

					<md-input-container>
						<label>
							<md-icon md-font-icon="glyphicon glyphicon-search" class="icon-custom"></md-icon>
							Find contact
						</label>
						<input type="search" ng-model="filters.searchQuery" aria-label="Find contact">
					</md-input-container>

				</div>


				<md-list ng-if="!showSpinner" layout="column" layout-padding  role="listitem">
					<md-list-item
					class="fade"
					ng-repeat="contact in contactsList.data | filter:filters.searchQuery"
					ng-click="goToContact(contact, $event)">

						<img alt="{{ contact.name }}" ng-src="{{ contact.img || '/images/avatar.png'}}" class="md-avatar">
						<p>{{ contact.lastname }} {{ contact.firstname }}</p>

						<span class="meta">
							<get-date date="contact.dates[0]"></get-date>
						</span>
					</md-list-item>
				</md-list>

				<div ng-if="showSpinner" layout="row" layout-align="center center" style="min-height: 250px">
					<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
				</div>

				<div ng-if="!contactsList.data.length" layout="row" layout-align="center center" style="min-height: 250px">

					<md-button
					type="button"
					class="md-raised md-primary"
					ng-click="openPanel()"
					role="button"
					aria-label="Add new contact">
						<md-icon md-svg-icon="social:person-add"></md-icon>
						Add contact
					</md-button>
				</div>

			</section>
		</div>
	</div>

	<md-sidenav md-scroll-y class="md-sidenav-left md-whiteframe-z1 side-panel" md-component-id="single-contact">
		<ng-include src="'modules/contacts/views/single-contact.html'"></ng-include>
	</md-sidenav>

</div>


