<div ng-controller="ContactsListCtrl" ng-init="init()">

	<table st-table="displayedCollection" st-safe-src="contactsList" class="table table-fixed table-minimalistic">
		<thead>
		<tr>
			<th st-skip-natural="true" st-sort="firstname" class="st-sort">Firtsname</th>
			<th st-skip-natural="true" st-sort="lastname" class="st-sort">Lastname</th>
			<th st-skip-natural="true" st-sort="email" class="st-sort">Email</th>
			<th st-skip-natural="true" st-sort="dates" class="st-sort">Birth date</th>
			<th></th>
		</tr>
		<tr>
			<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="contact in displayedCollection">
			<td class="strong">{{contact.firstname}}</td>
			<td class="strong">{{contact.lastname}}</td>
			<td>{{contact.email}}</td>
			<td>{{ getDate(contact.dates, 'BIRTHDATE')}}</td>
			<td>
				<button type="button" ng-click="removeContact(contact)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>


	<md-button class="md-raised" ng-click="toggleContactForm()">
		<span class="glyphicon glyphicon-plus"></span>
		New contact
	</md-button>


	<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="single-contact">
		<ng-include src="'modules/contacts/views/single-contact.html'"></ng-include>
	</md-sidenav>
</div>


