<div ng-controller="ContactsListCtrl">

	<table st-table="contactsList" st-safe-src="rowCollection" class="table table-fixed table-minimalistic">
		<thead>
		<tr>
			<th st-skip-natural="true" st-sort="firstname" class="st-sort">Firtsname</th>
			<th st-skip-natural="true" st-sort="lastname" class="st-sort">Lastname</th>
			<th st-skip-natural="true" st-sort="email" class="st-sort">Email</th>
			<th st-skip-natural="true" st-sort="dates" class="st-sort">Birth date</th>
			<th></th>
		</tr>
		<tr>
			<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in contactsList">
			<td class="strong">{{row.firstname}}</td>
			<td class="strong">{{row.lastname}}</td>
			<td>{{row.email}}</td>
			<td>{{ getDate(row.dates, 'BIRTHDATE')}}</td>
			<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>


	<md-button class="md-raised" ui-sref="create-contact" title="Create contact">
		<span class="glyphicon glyphicon-plus"></span>
		Create new contact
	</md-button>

</div>
