
<section ng-controller="SingleContactCtrl" class="contact-form" layout-padding>
	<form name="userForm" ng-submit="saveContact(contact)">

		<div class="avatar">
			<img src="/images/avatar.png" alt="Empty avatar">
		</div>

		<div layout layout-sm="column">
			<md-input-container flex>
				<label>Firstname</label>
				<input ng-model="contact.firstname" md-sidenav-focus>
			</md-input-container>

			<md-input-container flex>
				<label>Lastname</label>
				<input ng-model="contact.lastname">
			</md-input-container>
		</div>


		<div>

			<md-input-container flex>
				<label>Email</label>
				<input type="email" ng-model="contact.email">
			</md-input-container>
		</div>
<!-- 			<md-input-container flex>
				<label>Phone</label>
				<input ng-model="contact.phone">
			</md-input-container> -->

		<div>
			<div layout="column" layout-align="center center" >
				<md-select ng-model="dateTypeSelected" placeholder="Add new date">
					<md-option
					ng-repeat="dateType in dateTypes"
					ng-value="dateType.name"
					ng-click="addDate(dateType.type, contact)">
						{{dateType.name}}
					</md-option>
				</md-select>
			</div>

			<md-input-container flex ng-repeat="date in contact.dates" class="meta-right">
				<label>Date</label>
				<input type="date" ng-model="date.date">
				<div class="meta">
					<button type="button" ng-click="removeItemFromArray(date, contact.dates)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-trash">
						</i>
					</button>
				</div>

			</md-input-container>

		</div>


		<footer layout="row" layout-sm="column" layout-align="center center">
			<md-button class="md-raised md-primary">
				<span ng-show="contact._id">Edit</span>
				<span ng-show="!contact._id">Save</span>
			</md-button>
			<md-button type="button" ng-click="closePanel()">
				Cancel
			</md-button>
		</footer>
	</form>
</section>
